body{
    margin: 0px;
}
/*--------------This is head Section---------*/
.head{
    
    background-image: url("image/img2.jpg");
    opacity: 0.8;
    width: 100%;
    height: 500px;
    background-image: no-repeat;
    margin-top: -20px;
    
}
.content{
    margin-left: 478px;
    padding-top: 173px;
}
.content h1{
    font-size: 45px;
}
.button{
    text-decoration: none;
    background-color: #fd0000;
    padding: 10px;
    border-radius: 10px;

}
/*-----------------------------Donate Today----------------------------*/
.today{
    display: flex;
}
/*-----------------------------Our Donate Plan----------------------------*/
.plan{
    display: flex;
}
/*-----------------------------Donation----------------------------*/
.donation{
    display: flex;
}
/*-----------------------------They Need Us to Survibe----------------------------*/
.survibe{
    display: flex;
}


/*-----------------------------Get My Updates----------------------------*/
.bg{
    background-color: burlywood;
    width: 50%;
    height: 100px;
}

/*-----------------------------Footer Section----------------------------*/
.background{
    background-color: black;
    width: 100%;
    height: 150px;
}
.background h1{
    color: chocolate;
}
.background p{
    color: white;
}
.position{
    text-align: center;
    
}