body{
    margin: 0px;
}
/*--------------This is head Section---------*/
.head{
    
    background-image: url("image/img24.jpg");
    opacity: 0.8 rgba(10, 10, 10, 0.151);
    width: 100%;
    height: 500px;
    background-image: no-repeat;
    margin-top: -42px;
    
}

.content1{
    text-align: center;
    color: white;
    padding-top: 170px;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

}
.content2{
    text-align: center;
    color: white;
    
}
.button{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px;
    border-radius: 10px;
    margin-left: 595px;
    color: white;
}
/*-----------------------------Donate Today----------------------------*/
.today{
    display: flex;
    margin-left: 270px;
}
.tod{
    text-align: center;
    

}
.tod1{
    font-size: 35px;
}
.donatetoday{
    border-style: none;
    margin-right: 41px;
    padding: 6px 28px 5px 24px;
    border-color: #c95e203b;
    background-color: #efefef;
}
.donateborder{
    border-style: solid;
    margin-right: 41px;
    padding: 6px 28px 5px 24px;
    border-color: #da2c26a2;
    background-color: #c53e1c75;
    border-radius: 5px;
}
.other{
    text-align: center;
    border-width: 14px;
    border-top: 1px;
}
.button0{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px;
    border-radius: 10px;
    margin-left: 612px;
    color: white;
}
/*-----------------------------Our Donate Plan----------------------------*/
.plan{
    display: flex;
    margin-left: 108px;
}
.odp{
    text-align: center;
    width: 859px;
    margin-left: 193px;
    
}
.odp1{
    font-size: 35px;
}
.donate1{
    
    border-style: none;
    background-color: #7fbbb877;
    height: 230px;
    width: 280px;
    padding-top: 51px;
}
.donate2{
    margin-left: 113px;
    border-style: none;
    background-color: #8f53535d;
    height: 230px;
    width: 280px;
    padding-top: 51px;
}
.donate3{
    margin-left: 113px;
    border-style: none;
    background-color: #ce915781;
    height: 230px;
    width: 280px;
    padding-top: 51px;
}
.position1{
    padding-left: 15px;
}
/*-----------------------------Photo Gallery----------------------------*/

.photo{
    
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
    

}
.photo img{
    margin-left: 50px;
    
}
.gallerytext{
    width: 70%;
    margin-left: 215px;
}
.im1{
    border: 5px solid rgb(136, 168, 173);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 315px;
    height: 200px;
    border-radius: 23px;
}

.pg{
    text-align: center;
}
.pg1{
    font-size: 35px;
}
/*-----------------------------Donation----------------------------*/
.donation{
    display: flex;
}
.donat{
    margin-left: 118px;
    
}
.donat1{
    font-size: 35px;
}
.donatimg{
    height: 300px;
    margin-right: 196px;
    margin-left: 186px;
}
.button1{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    margin-left: 586px;
    margin-left: 10px;
}
/*-----------------------------They Need Us to Survibe----------------------------*/
.survibe{
    display: flex;
}
.survimg{
    height: 300px;
    margin-left: 120px;
}
.surv{
    margin-left: 163px;
}
.surv1{
    font-size: 35px;
}
.surv2{
    width: 331px;
}
.button3{
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
}
/*-----------------------------Get My Updates----------------------------*/
.bg{
    background-color: burlywood;
    width: 50%;
    height: 100px;
    margin-left: 315px;
    margin: 41px 10px 10px 194px;
    padding: 10px;
    padding-left: 246px;
}
.update{
    text-align: center;
    
}
.update1{
    font-size: 35px;
}
.form__email {
    padding: 14px 26px;
    border-radius: 5px;
    border: 1px solid #CAD3DB;
    width: 329px;
    font-size: 15px;
    color: #0F121F;
}


.form__button {
    background: #b96037;
    padding: 10px;
    border: none;
    width: 102px;
    height: 48px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    margin: 23px 10px 10px -5px;
    box-shadow: 0 4px 20px rgba(167, 87, 50, 0.568);
}


/*-----------------------------Footer Section----------------------------*/
.background{
    background-color: black;
    width: 100%;
    height: 150px;
}
.background h1{
    color: #ff5959;
    font-family: 'Rubik Moonrocks', cursive;
}
.background p{
    color: white;
}
.position{
    text-align: center;
    padding-top: 30px;
    
}